<!-- Contenedor principal con alineación vertical y horizontal centrada -->
<div class="flex justify-between searchContainer items-center mt-8 w-full max-w-2xl mx-auto z-50">
  <!-- Contenedor de la barra de búsqueda -->
  <div class="flex items-center w-full h-[3rem] bg-zinc-300 rounded-[0.625rem] shadow-lg border border-red-500">
    <!-- Ícono de búsqueda -->
    <div class="ml-4">
      <img src="assets/material-symbols_search.svg" alt="Buscar" class="h-8 w-8" />
    </div>

    <!-- Campo de búsqueda -->
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()"
      class="flex-grow h-full   pl-4 bg-transparent z-50 border-none focus:ring-0 text-gray-700 focus:outline-none " />
  </div>
  <!-- Boton de Añadir -->
</div>

<div class="flex justify-between max-w-[1440px] me-5" style="margin-top: -50px;">
  <div class="flex-1"></div>
  <div class="flex-1"></div>
  <div class="flex-1 add-button-container">
    <button (click)="openModal()">
      <img src="assets/mingcute_add-fill.svg" alt="Añadir" />
    </button>
  </div>
</div>





<div *ngIf="showModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 backdrop-blur-sm overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="modal relative m-auto p-5 border w-1/2 max-w-2xl shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <div class="flex justify-center">
        <img src="assets/Vector.svg" alt="imagenMonitor" />
      </div>
      <form class="w-full">
        <div class="mb-4">
          <input [(ngModel)]="monitor.name" name="name  "
            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" type="text" placeholder="Nombre">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="monitor.email" name="email"
            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" placeholder="Email">
        </div>
        <div class="mb-4">
          <input [(ngModel)]="monitor.phone" name="phone"
            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phone" type="tel" placeholder="Teléfono">

        </div>
        <div class="flex items-center justify-center space-x-4">
          <button
            class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
            type="button" (click)="addMonitor()">
            Aceptar
          </button>
          <button
            class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
            type="button" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>