<div class="mx-auto w-full max-w-[1440px] h-[70px] xs:h-[90px] sm:h-[100px] md:h-[150px] lg:h-[182px] bg-zinc-300 grid grid-cols-3 items-center">
    <div class="flex justify-center">
        <img src="assets/map_gym.svg" alt="Logo" class="w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-36 lg:h-36">
    </div>
    <div class="text-center">
        <span class="text-[#D25B5B] text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-mono font-normal">4V GYM</span>
    </div>
    <div></div>
</div>