<div class="flex h-[110px] slot">
  <div class="flex flex-col justify-center mx-3">
    <p class="text-black">{{ startTime }} </p>
    <p class="text-black"> {{ endTime }} </p>
  </div>

  <div [style.background-color]="slotColor" class="p-4 flex items-center  w-full relative">
    <!-- Contenido del slot -->
    <div *ngIf="activity; else freeSlot" class="flex">
      <!-- Botón de borrar -->
      <button (click)="onDeleteClick()" class="absolute top-2 right-2 h-6 w-6">
        <img src="../../assets/ph_trash-fill.svg" alt="Trash Icon">
      </button>
      <!-- Botón de editar -->
      <button (click)="onEditClick()" class="absolute bottom-2 right-2 h-6 w-6">
        <img src="../../assets/ic_round-edit.svg" alt="Edit Icon">
      </button>
      <div class="flex flex-row space-x-2 items-center">
        <div *ngFor="let monitor of activity.monitors; let i = index">
          <ng-container *ngIf="i < (isMobile ? 1 : 2)">
            <img src="../../assets/active_ion_person.svg" alt="Monitor Icon" class="h-15 w-15 m-auto">
            <span>{{ monitor }}</span>
          </ng-container>
        </div>
        <ng-container *ngIf="activity.monitors.length > (isMobile ? 1 : 2)">
          <span class="font-bold text-red-500">Hay {{ isMobile ? '2' : '3' }} <br> o más</span>
        </ng-container>
      </div>
      
      

      <img [src]="'../../assets/' + activity.type + '.svg'" alt="Activity Icon" class="absolute top-2 right-12 " style="height: 6rem ; width: 6rem;"> 
    </div>


    <ng-template #freeSlot>
      <div class="flex items-center justify-center w-full">
        <p class="text-white font-bold">FREE</p>
        <!-- Botón de añadir -->
        <button (click)="onAddClick()" class="absolute top-2 right-3 h-8 w-8">
          <img src="../../assets/mingcute_add-fill.svg" alt="Otro Icono">
        </button>
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="showModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 backdrop-blur-sm overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="modal relative m-auto p-5 border w-1/2 max-w-2xl shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">

      <form class="w-full">
        <select [(ngModel)]="selectedActivityType" name="activityType" (change)="onActivitySelected($event)" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 my-3">
          <option value="" disabled>Selecciona un tipo de actividad</option>
          <option *ngFor="let activityType of activityTypes" [value]="activityType.name">{{ activityType.name }}</option>
        </select>
        
        <div class="relative" *ngFor="let monitor of [].constructor(selectedActivity?.numberOfMonitors); let i = index">
          <select [(ngModel)]="selectedMonitors[i]" name="monitor{{i}}" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 my-3">
            <option value="" disabled>Selecciona un monitor</option>
            <option *ngFor="let monitor of monitors">{{ monitor.name }}</option>
          </select>
        </div>
      
        <div class="flex items-center justify-center space-x-4">
          <button
          [disabled]="!selectedActivityType || selectedMonitors.length < (selectedActivity?.numberOfMonitors ?? 0)" class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
          type="button"
          (click)="onAceptarClick()">
          Aceptar
          </button>
        
          <button
            class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
            type="button" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

