<div class="fixed inset-x-0 bottom-0 mx-auto w-full max-w-[1440px] h-[91px] sm:h-[93px] md:h-[110px] lg:h-[133px] bg-white-300 grid grid-cols-2 items-center p-0">
    <!-- Barrita Indicadora -->
    <div class="indicator" [style.width]="indicatorWidth" [style.transform]="indicatorTransform "></div>
    <!-- Activities Link -->
    <a [routerLink]="['/activities']" routerLinkActive="active" [class.inactive]="isLinkActive('/activities')" class="flex justify-center items-center space-x-4 p-3">
      <img [src]="isLinkActive('/activities') ? 'assets/active_mdi_calendar-clock.svg' : 'assets/mdi_calendar-clock.svg'" alt="activities" class="w-[60px] h-[60px] sm:w-[70px] sm:h-[70px] md:w-[80px] md:h-[80px] lg:w-[90px] lg:h-[90px]">
      <span [class]="isLinkActive('/activities') ? 'text-red-500' : 'text-neutral-500'" class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-['Roboto_Mono']">ACTIVIDADES</span>
    </a>
    
    <!-- Monitors Link -->
    <a [routerLink]="['/monitors']" [class.inactive]="isLinkActive('/monitors')" class="flex justify-center items-center space-x-4">
      <img [src]="isLinkActive('/monitors') ? 'assets/active_ion_person.svg' : 'assets/ion_person.svg'" alt="monitors" class="w-[60px] h-[60px] sm:w-[70px] sm:h-[70px] md:w-[80px] md:h-[80px] lg:w-[90px] lg:h-[90px]">
      <span [class]="isLinkActive('/monitors') ? 'text-red-500' : 'text-neutral-500'" class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-['Roboto_Mono']">MONITORES</span>
    </a>
</div>
