<div class="w-[17rem] h-[17rem] bg-zinc-300">
    <div class="flex justify-between">
        <button class="w-10 h-10 relative mt-5 ml-5" onclick="eliminar()">
            <img src="../../../../assets/ph_trash-fill.svg" alt="Eliminar" />
        </button>
        <button class="w-10 h-10 relative mt-5 mr-5" onclick="editar()">
            <img src="../../../../assets/ic_round-edit.svg" alt="Editar" />
        </button>
    </div>               
    <div class="flex-1 text-center flex flex-col items-center">
        <button onclick="aniadir_imagen()">
            <img src="../../../../assets/Vector.svg" alt="icono_monitor" class="mb-2 mb-6">
        </button>
        <div class="font-normal">{{ monitor.name }}</div>
        <p class="font-normal">{{ monitor.email }}</p>
        <p class="font-normal">{{ monitor.phone }}</p>
    </div>        
</div>