<div class="list mx-auto relative flex items-center justify-center">  <!-- Botones de navegación y carrusel solo se muestran si hay monitores -->
  <ng-container *ngIf="monitors.length > 0; else noMonitorsMessage">
    <!-- Botón izquierdo para desplazar el carrusel hacia la izquierda -->
    <button class=" btn-left" (click)="moveLeft()" *ngIf="currentIndex < (monitors.length / itemsPerPage) - 1">
      <img src="../../../assets/mingcute_arrows-left-fill.svg" alt="Anterior" />
    </button>


    <!-- Contenedor del carrusel -->
    <div class="flex overflow-hidden card-container ">
      <app-monitor-card *ngFor="let monitor of getMonitors()" [monitor]="monitor" (deleteRequest)="eliminar($event)"
        (editRequest)="abrirModalEdicion(monitor)" class="flex-none mx-10"></app-monitor-card>
    </div>

    <div *ngIf="showEditModal"
      class="fixed inset-0 bg-gray-600 bg-opacity-50 backdrop-blur-sm overflow-y-auto h-full w-full z-50 flex justify-center items-center">
      <!-- Contenedor del modal centrado y más grande -->
      <div class="relative m-auto p-5 border w-1/2 max-w-2xl shadow-lg rounded-md bg-white">
        <!-- Contenido del modal -->
        <div class="mt-3 text-center">
          <!-- Icono del usuario y botón para cerrar -->
          <div class="flex justify-center">
            <img [src]="monitorEditando.imageUrl || 'assets/Vector.svg'" alt="Imagen del Monitor"
              class="h-24 w-24 md:h-32 md:w-32" />
            <button class="absolute top-0 right-0" (click)="triggerFileInput()">
              <img src="assets/mingcute_add-fill.svg" alt="Add Image" class="h-6 w-6 md:h-8 md:w-8" />
              <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
            </button>
          </div>
          <!-- Formulario para editar monitor -->
          <form class="w-full">
            <!-- Campo Nombre -->
            <div class="mb-4">
              <input [(ngModel)]="monitorEditando.name" name="name"
                class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" placeholder="Nombre">
            </div>
            <!-- Campo Email -->
            <div class="mb-4">
              <input [(ngModel)]="monitorEditando.email" name="email"
                class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" type="email" placeholder="Email">
            </div>
            <!-- Campo Teléfono -->
            <div class="mb-4">
              <input [(ngModel)]="monitorEditando.phone" name="phone"
                class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="phone" type="tel" placeholder="Teléfono">
            </div>
            <!-- Botones Aceptar y Cancelar -->
            <div class="flex items-center justify-center space-x-4">
              <button
                class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
                type="button" (click)="updateMonitor()">
                Guardar Cambios
              </button>
              <button
                class="w-64 h-12 bg-red-500 rounded-[20px] text-normal font-normal text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50"
                type="button" (click)="closeEditModal()">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Botón derecho para desplazar el carrusel hacia la derecha -->
    <button class="absolute right-0 z-10 btn-right" (click)="moveRight()"
      *ngIf="currentIndex < (monitors.length / itemsPerPage) - 1">
      <img src="../../../assets/mingcute_arrows-right-fill.svg" alt="Siguiente" />
    </button>
  </ng-container>

  <ng-template #noMonitorsMessage>
    <div class="text-center">
      <h1>No existen monitores actualmente.</h1>
    </div>
  </ng-template>
</div>